body{
    background: url(https://images.unsplash.com/photo-1510289244640-fbd33875a761?auto=format&fit=crop&w=1051&q=80);
    background-size: cover;
    font-family: Roboto;
}
h1{
    font-weight: 700;
}

h1, h2{
    color: white;
}

hr{
    width: 650px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid #f8f8f8;
}


#content{
    text-align: center;
    padding-top: 5%;
}


/* *******Hamberger Menu************** */



@media (max-width: 768px){
    
    
    .hamburger .line{
        width: 50px;
        height: 5px;
        display: block;
        background-color: white;
        margin: 8px auto;
    }
}

